﻿<div ng-init="initialize()" class="details-view">
    <script async defer src="https://apis.google.com/js/api.js">
    </script>
    <div class="section-menu">
        <ul>
            <li ng-repeat="section in sections" ng-click="selectSection(section)" ng-class="{'selected':section.selected}">
                <i class="fa fa-lg" ng-class="'fa-{{section.icon}}'"></i>
            </li>
        </ul>
    </div>
    <div>
        <h1 class="underlined-header" ng-if="applicationInfo">Application {{applicationInfo.name}}</h1>

        <div class="calendar">
            <div ng-if="showCalendarMessage()" class="validation-message">
                <span>You can authorize N-Dexed to work with your Google Calendar to manage important dates for this application.</span>
                <h1>
                    <a href="javascript:void(null);" id="auth-button" ng-click="onAuthClick()">Authorize Calendar</a>
                </h1>
            </div>
            <div ng-if="calendarAuthorized">
                <a href="javascript:void(null);" id="auth-button" ng-click="onSignoutClick()">Sign out of Calendar</a>
            </div>

            <div ng-class="{'fly-in-left':showAddEvent, 'hidden-left':showAddEvent === false}" class="overlay-left">
                <div class="overlay-contents">
                    <h1>Add a New Event</h1>
                    <label>Event Name</label>
                    <input name="name" id="nameInput" type="text" ng-model="newEvent.summary" autofocus />

                    <label>Description</label>
                    <textarea ng-model="newEvent.description"></textarea>

                    <label>Start</label>
                    <input type="date" ng-model="newEvent.start.dateTime" />

                    <label>End</label>
                    <input type="date" ng-model="newEvent.end.dateTime" />

                    <div class="button-container">
                        <button ng-click="addNewEvent()">Add</button>
                        <a href="javascript:;" ng-click="toggleShowAddEvent()">Cancel</a>
                    </div>
                </div>

            </div>

            <div ng-if="calendarExists === false">
                <span>No calendar exists for this application.  Create a calendar so you can track events.</span>
                <h1>
                    <a href="javascript:void(null);" id="auth-button" ng-click="addCalendar()">Create Calendar</a>
                </h1>
            </div>


            <div class="button-container" ng-if="calendarExists">
                <button ng-click="addOneYearEvent()">Add One-Year Event</button>
            </div>

            <div class="button-container" ng-if="calendarExists">
                <button ng-click="addCommunicationReceivedEvent()">Add Action Required Event</button>
            </div>

            <div ng-if="events">
                <h2>Events <a href="javascript:void(null);" ng-click="toggleShowAddEvent()"><i class="fa fa-plus fa-lg"></i></a></h2>
                <ul class="listing">
                    <li ng-repeat="event in events" class="calendar-event">
                        <h2><i class="fa fa-calendar"></i> {{event.summary}}</h2>
                        <span class="block">Start: {{event.start.dateTime | date}}</span>
                        <span class="block">End: {{event.end.dateTime | date}}</span>
                        <span class="block">
                            <a href="javascript:void(null);" ng-click="deleteEvent(event.id)">Remove</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-content left data-form width-65 application-view" ng-if="application">
            <h1>{{application.name}}</h1>
            <p>{{application.description}}</p>
            <p>Filed on {{application.filingDate | date}}</p>
            <h2>Abstract</h2>
            <div class="abstract">
                <p>
                    {{application.abstract}}
                </p>
                <h3><a href="javascript:void(null);" ng-click="goToSearch()">Search</a></h3>
            </div>

            <!--<label>Examiner</label>
            <select ng-model="application.examiner" ng-options="examiner as examiner.name for examiner in examiners"></select>-->
            <h2>Top Matches</h2>
            <div class="resultsView search-view">
                <ul>
                    <li ng-repeat="result in application.topMatches">
                        <h1 class="similarity-score">{{result.rank | number:2}}</h1>
                        <div class="similar-result">

                            <h3>{{result.data.title}}</h3>
                            <span>{{result.data.snippet}}</span>
                            <br />
                            <a ng-href="{{getMatchLink(result)}}" target="_blank">{{getMatchLink(result)}}</a>

                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>



    </div>
    <div ng-include="detailsTemplate">
    </div>
</div>