﻿<div ng-init="initialize()" class="view-port">
    <h1 class="left">Applications</h1>
    <a class="left add-button" href="javascript:;" ng-click="toggleAddApplication()"><i class="fa fa-plus fa-lg"></i></a>
    <div class="search-component right">
        <input type="text" ng-model="filterCriteria.name" ng-focus="focusApplicationFilter()" ng-blur="blurApplicationFilter()" ng-keypress="handleKeyPress($event)" placeholder="Filter" />
        <i class="fa fa-search right"></i>
    </div>
    <div class="clear"></div>

    <div ng-if="message" class="validation-message">
        {{message}}
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Application Name</th>
                    <th>Client</th>
                    <th>Description</th>
                    <th>Filing Date</th>
                </tr>
            </thead>
            <tbody ng-repeat="application in applications">
                <tr>
                    <td>
                        <a href="javascript:;" ng-click="showDeleteConfirmation(application)"><i class="fa fa-trash-o"></i></a>
                        <div class="confirmation" ng-if="application.showConfirmDelete">
                            <div>
                                <i class="fa fa-caret-left"></i>
                                Are you sure you want to archive this application?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="deleteApplication(application)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="application.showConfirmDelete = false">No</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="#/applications/{{application.id}}/details"><span>{{application.name}}</span></a></td>
                    <td>{{application.client.name}}</td>
                    <td>{{application.description | limitTo:100}}</td>
                </tr>
            </tbody>
            <tbody ng-if="applications.length === 0">
                <tr>
                    <td colspan="6">
                        You do not have any applications.  <a href="javascript:;" ng-click="toggleAddApplication()">Click Here to Create a New application</a>
                    </td>
                </tr>

            </tbody>
            <tbody ng-if="applications.length > 0 && filteredapplications.length === 0"
                <tr>
                    <td colspan="7">No applications match your filter criteria
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-class="{'fly-in':showAddApplication, 'hidden-right':showAddApplication === false}" class="overlay">
    <div ng-include="'html/applications/new.html'" class="overlay-contents"></div>
</div>
