﻿<div class="data-form" ng-controller="newApplicationController" ng-init="initialize()">
    <h1>Add a New Application</h1>
    <label>Client</label>
    <select ng-model="applicationInfo.client" ng-options="client as client.name for client in clients"></select>

    <label>Application Name</label>
    <input name="name" id="nameInput" type="text" ng-model="applicationInfo.name" autofocus />

    <label>Abstract</label>
    <textarea ng-model="applicationInfo.abstract" rows="10"></textarea>

    <div class="button-container">
        <button ng-click="createApplication()">Add</button>
        <a href="javascript:;" ng-click="toggleAddApplication()">Cancel</a>
    </div>
</div>
