﻿<div ng-init="initialize()" class="view-port">
    <h1 class="left">Projects</h1>
    <div class="margin-10 button-container right">
        <button ng-click="toggleAddSearch()" class="tiny-button">Create New Project</button>
    </div>
    <div class="clear"></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Project Title</th>
                    <th>Docket Number</th>
                    <th>Create Date</th>
                </tr>
            </thead>
            <tbody ng-repeat="search in searchList">
                <tr  ng-click="selectSearch(search.patentSearchId)">
                    <td><a href="javascript:void(null);" ng-href="/search/{{search.patentSearchId}}">{{search.patentSearchCriteria.title}}</a></td>
                    <td>{{search.docketNumber}}</td>
                    <td>{{search.createdDateTime | date}}</td>
                </tr>
            </tbody>
            <tbody ng-if="searchList.length === 0">
                <tr>
                    <td colspan="2" class="text-center">
                        <h1>
                            No projects found.
                            <a href="javascript:void(null);" ng-click="toggleAddSearch()" class="">Please create a new project</a>
                        </h1>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div ng-class="{'fly-in-wide':showAddSearch, 'hidden-right':showAddSearch === false}" class="overlay hidden-right">
        <div ng-include="addSearchTemplate" class="overlay-contents"></div>
    </div>
</div>