﻿<div class="data-form" ng-controller="newCaseController" ng-init="initialize()">
    <h1>Create a New Project</h1>

    <label>Title</label>
    <input type="text" ng-model="newSearch.patentSearchCriteria.title" />

    <label>Docket Number</label>
    <input type="text" ng-model="newSearch.docketNumber" />

    <div class="button-container">
        <button ng-click="createSearch()">Add</button>
        <a href="javascript:;" ng-click="toggleAddSearch()" class="left">Cancel</a>
    </div>
</div>
