﻿<div ng-init="initialize()" class="search-view">
    <div class="pure-g">
        <div class="pure-u-11-24 full-width">
            <ul class="search-section-menu">
                <li ng-repeat="searchView in searchViews">
                    <i class="fa"
                       ng-class="{'fa-circle':searchView.selected, 'fa-circle-thin':!searchView.selected}"
                       ng-click="selectSearchView(searchView)"></i>
                </li>
            </ul>
            <div ng-include="searchViewTemplate"></div>
        </div>

        <div ng-class="{'fly-in-wide':showImageView, 'hidden-right':showImageView === false}" class="overlay hidden-right">
            <div ng-include="imageTemplate" class="overlay-contents"></div>
        </div>

        <div ng-class="{'fly-in-wide':showSelectedResult, 'hidden-right':showSelectedResult === false}" class="overlay hidden-right">
            <div ng-include="descriptionTemplate" class="overlay-contents"></div>
        </div>
    </div>
</div>
