﻿<div class="view-port" ng-init="initialize()">
    <div class="pure-g">
        <div class="pure-u-11-24 padding-15">
            <h2>Clients
                <a class="right add-button small-button margin-0" href="javascript:;" ng-click="toggleAddClient()"><i class="fa fa-plus"></i><span>Client</span></a>
                <div class="clear"></div>
            </h2>
            <label ng-if="clients"><a href="#/clients">You have {{clients.length}} clients</a></label>

            <h2>Admin</h2>
            <label ng-if="organization.users"><a href="#/admin">You have {{organization.users.length}} users</a></label>
        </div>
        <div class="pure-u-11-24 padding-15">
            <h2>Matters
                <a class="right add-button small-button margin-0" href="javascript:;" ng-click="toggleAddCase()"><i class="fa fa-plus"></i><span>Matters</span></a>
                <div class="clear"></div>
            </h2>

            <label ng-if="cases"><a href="#/cases">You have {{cases.length}} <span ng-if="user.caseIds.length === 1">matter</span> <span ng-if="user.caseIds.length !== 1">matters</span></a></label>

        </div>
    </div>
</div>


<div ng-class="{'fly-in':showAddClient, 'hidden-right':showAddClient === false}" class="overlay">
    <div ng-include="'html/clients/new.html'" class="overlay-contents"></div>
</div>


<div ng-class="{'fly-in':showAddCase, 'hidden-right':showAddCase === false}" class="overlay">
    <div ng-include="'html/cases/new.html'" class="overlay-contents"></div>
</div>
