﻿<div class="header">
    <!--<h1 class="left">N-Dexed</h1>-->  
    <img src="img/contextum_logo.svg" class="header-img" />
    <ul class="left" ng-if="currentUser">
        <li  ng-repeat="item in items" ng-class="{'selected':item.selected}" ng-click="selectItem(item)">
            <i class="fa fa-{{item.icon}}"></i>
            {{item.text}}
        </li>
    </ul>
    <ul>
        <li></li>
    </ul>
    <div class="clear"></div>
</div>