﻿<div ng-controller="newUserController">
    <h1>Add User</h1>
    <form name="addUserForm">
        <label>First Name</label>
        <input type="text" ng-model="newUser.firstName" required/>

        <label>Last Name</label>
        <input type="text" ng-model="newUser.lastName" required />

        <label>Email Address</label>
        <input type="text" ng-model="newUser.emailAddress" required />

        <button ng-click="addUser()" ng-disabled="addUserForm.$invalid">Add</button>
        <a href="javascript:;" ng-click="toggleShowAddUser()">Cancel</a>
    </form>
</div>