﻿<div>
    <label>Name</label>
    <input type="text" ng-model="organization.name" />

    <label>Phone Number</label>
    <input type="text" ng-model="organization.phoneNumber" />

    <label>Primary Email Address</label>
    <input type="email" ng-model="organization.primaryEmailAddress" />

    <label>Mailing Address</label>
    <input type="text" ng-model="organization.mailingAddress.line1" placeholder="Line 1"/><br />
    <input type="text" ng-model="organization.mailingAddress.line2" placeholder="Line 2" /><br />
    <input type="text" ng-model="organization.mailingAddress.city" placeholder="City" /><br />
    <input type="text" ng-model="organization.mailingAddress.state" placeholder="State" class="short-input left"/>
    <input type="text" ng-model="organization.mailingAddress.zip" placeholder="Zip" class="short-input left margin-0-0-0-10" />

</div>
