﻿<div>
    <label>Name</label>
    <span>{{organization.name || 'not set'}}</span>

    <label>Phone Number</label>
    <span>{{organization.phoneNumber || 'not set'}}</span>

    <label>Primary Email Address</label>
    <span>{{organization.primaryEmailAddress || 'not set'}}</span>

    <label>Mailing Address</label>
    <span ng-if="!organization.mailingAddress">not set</span>
    <span>{{organization.mailingAddress.line1}}</span><br />
    <span>{{organization.mailingAddress.line2}}</span><br />
    <span>{{organization.mailingAddress.city}} {{organization.mailingAddress.state}} {{organization.mailingAddress.zip}}</span>
    
</div>
