﻿<div class="center-middle">
    <h1>Registration Successful</h1>
    Your registration has been confirmed.  

    An email has been sent to the email address you supplied with instructions on how to log in.
    
    <div>
        <a href="#/login"><span>Return to Login</span></a>
    </div>
</div>
