﻿<div class="center-container" ng-init="initialize()">
    <div class="login">
        <h1>Sign In</h1>
        <div>
            <form>
                <input type="text" ng-model="user.emailAddress" placeholder="Email" autofocus />
                <input type="password" ng-model="user.password" placeholder="Password" />
                <button ng-click="login()">Sign In</button>
            </form>
        </div>
    </div>
    <div>
        <a href="#/register"><span>Register</span></a> /
        <a href="#/resetPassword"><span>Forgot Password</span></a>
    </div>
</div>
