﻿<div ng-init="initialize()" class="details-view profile">
    <div class="pure-g">
        <div class="pure-u-11-24">
            <h2>Organization Profile

                <a class="right add-button" href="javascript:;" ng-click="toggleEdit()" ng-if="!editing"><i class="fa fa-edit fa-lg"></i><span>Edit</span></a>
                <a class="right" href="javascript:;" ng-click="toggleEdit()" ng-if="editing"><span class="margin-10">Cancel</span></a>
                <a class="right add-button" href="javascript:;" ng-click="save()" ng-if="editing"><i class="fa fa-save fa-lg"></i><span>Save</span></a>

                <div class="clear"></div>
            </h2>
            <div ng-include="templateUrl"></div>
        </div>

        <div class="pure-u-11-24">
            <h2>Users
                <a class="right add-button" href="javascript:;" ng-click="toggleShowAddUser()"><i class="fa fa-plus fa-lg"></i><span>User</span></a>
                <div class="clear"></div>

            </h2>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in organization.users">
                        <td>
                            <a href="javascript:;" ng-click="showDeleteConfirmation(user)"><i class="fa fa-trash-o"></i></a>
                            <div class="confirmation" ng-if="user.showConfirmDelete">
                                <div>
                                    <i class="fa fa-caret-left"></i>
                                    Are you sure you want to delete this user?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="deleteUser(user.id)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="user.showConfirmDelete = false">No</a>
                                </div>
                                </div>
                            </div>
                        </td>
                        <td>{{user.userName}}</td>
                        <td>{{user.emailAddress}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-class="{'fly-in':showFlyIn, 'hidden-right':showFlyIn === false}" class="overlay">
        <div ng-include="flyInTemplate" class="overlay-contents"></div>
    </div>

</div>
