﻿
<div class="center-container">
    <div class="login">
        <h1>User Registration</h1>
        <div>
            <form id="registrationForm" name="registrationForm">
                <input type="text" ng-model="user.userName" required placeholder="User Name" />
                <input type="email" ng-model="user.emailAddress" required placeholder="Email Address" />

                <button ng-click="register()" ng-disabled="registrationForm.$invalid">Register</button>
            </form>

        </div>

    </div>
    <div>
        <a href="#/login"><span>Return to Login</span></a>
    </div>
</div>


