﻿<div ng-init="initialize()">
    <div class="center-container">
        <div class="clear"></div>
        <div class="register">
          
            <h1>Reset Password</h1>
            <div>
                <ng-form id="setPasswordForm" name="setPasswordForm">
                    <label>Email Address</label>
                    <input type="email" ng-model="user.emailAddress" required ng-disabled="loading" autofocus/>

                    <button ng-click="resetPassword()" class="right" ng-disabled="setPasswordForm.$invalid">Reset Password</button>
                </ng-form>

            </div>

        </div>
        <div>
            <a href="#/login"><span>Return to Login</span></a>
        </div>
    </div>
</div>