﻿<div ng-init="initialize()">
    <div class="center-container">
        <div class="validation-message" ng-if="displayValidationMessage">
            Password and Confirm Password fields must match
        </div>
        <div class="clear"></div>
        <div class="login">

            <h1>User Registration</h1>
            <div>
                <ng-form id="setPasswordForm" name="setPasswordForm">
                    <label>Password</label>
                    <input type="password" ng-model="user.password" required ng-disabled="loading" />

                    <label>Confirm Password</label>
                    <input type="password" ng-model="user.passwordConfirmation" required ng-disabled="loading" />

                    <span class="block">
                        <input type="checkbox" ng-model="user.acceptTerms" required />
                        <a href="https://contextum-ml.com/terms-of-service.html" target="_blank">I accept the terms of service</a>
                    </span>

                    <button ng-click="setPassword()" ng-class="{'disabled':setPasswordForm.$invalid}" ng-disabled="setPasswordForm.$invalid">Set Password</button>

                </ng-form>

            </div>

        </div>
        <div>
            <a href="#/login"><span>Return to Login</span></a>
        </div>
    </div>
</div>