﻿<div ng-init="initialize()" class="view-port" ng-controller="searchHistoryController">
    <h1 class="left">Search History</h1>
    <button class="right" ng-click="crossReferenceSearches()">Cross Reference Searches</button>
    <div class="clear"></div>
    <div>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <th>Query</th>
                    <th>Search Date</th>
                </tr>
            </thead>
            <tbody ng-repeat="search in searchHistory">
                <tr>
                    <td><input type="checkbox" ng-model="search.selected" /></td>
                    <td>
                        <a href="javascript:void(null)" ng-click="selectSearch(search.searchId)">
                            {{search.query | limitTo:150}}<span ng-if="search.query.length > 150">&hellip;</span>
                        </a>
                    </td>
                    <td>{{search.createdDateTime | date}}</td>
                </tr>
            </tbody>
            <tbody ng-if="searchHistory.length === 0">
                <tr>
                    <td colspan="2" class="text-center">
                        <h1>
                            No searches found.
                        </h1>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div ng-class="{'fly-in-wide':showCrossReferencedResults, 'hidden-right':showCrossReferencedResults === false}" class="overlay hidden-right">
        <div ng-include="crossReferenceResultsTemplate" class="overlay-contents"></div>
    </div>
</div>