﻿<div class="search-view" ng-init="initialize()" ng-controller="savedResultsController">
    <div class="pure-g">
        <div class="pure-u-11-24 full-width">
            <div class="container details-view padding-5 left margin-10 full-width">
                <div class="resultsView" ng-if="search">

                    <h1 class="left">Saved Results</h1>

                    <div class="clear"></div>

                    <h2 class="margin-left-15">{{search.patentSearchCriteria.title}}  {{search.docketNumber}}</h2>
                    <div class="padding-5" ng-if="showRefineButton()">
                        <button class="medium-button right padding-5-15" ng-click="refineSearch()">Refine Search</button>
                    </div>
                    <h3 class="margin-left-5" ng-if="additionalResults.length > 0">Additional Results</h3>
                    <ul class="padding-5">
                        <li ng-repeat="result in additionalResults">
                            <div ng-include="resultTemplate" class="overlay-contents padding-0"></div>
                        </li>
                    </ul>

                    <div class="clear"></div>

                    <h3 class="margin-left-5">Saved Results</h3>
                    <ul class="padding-5">
                        <li ng-repeat="result in results">
                            <div ng-include="resultTemplate" class="overlay-contents padding-0"></div>
                        </li>
                    </ul>

                    <div class="clear"></div>
                </div>

            </div>
        </div>

        <div ng-class="{'fly-in':message, 'hidden-right':message === null}" class="overlay hidden-right">
            <div class="overlay-contents">
                <div class="message">
                    <p>{{message}}</p>

                    <a href="javascript:;" ng-click="clearMessage()" class="left">Ok</a>
                </div>

            </div>
        </div>

    </div>
</div>
