﻿<div class="small-font">
    <div class="section-menu full-width">
        <ul>
            <li><a href="javascript:void(null)" 
                   ng-click="selectStatsView('cpc');"
                   class="no-bottom-border"
                   ng-class="{'underlined':selectedStatsView == 'cpc'}">CPC</a></li>
            <li><a href="javascript:void(null)" 
                   ng-click="selectStatsView('terms');"
                   class="no-bottom-border"
                   ng-class="{'underlined':selectedStatsView == 'terms'}">Terms</a></li>
        </ul>
    </div>
    <h2>{{selectedStatsView}}</h2>
    <div ng-include="statsTemplate"></div>
</div>