﻿<div class="container details-view padding-15 left margin-10 full-width">
    <div class="search-area">
        <div>
            <table>
                <tr>
                    <td>Include</td>
                    <td>Exclude</td>
                </tr>
                <tr>
                    <td>
                        <textarea class="margin-0" rows="5" ng-model="searchCriteria.included"></textarea>
                    </td>
                    <td>
                        <textarea class="margin-0" rows="5" ng-model="searchCriteria.excluded"></textarea>
                    </td>
                </tr>
            </table>
            <button ng-click="searchTerms(0)" class="tiny-button padding-right-20">Search</button>
        </div>
    </div>
    <div class="resultsView padding-0" ng-if="results.length > 0">
        <div class="section-menu full-width">

            <ul class="padding-5-15 margin-0 left">
                <li>Sort by:</li>
                <li ng-repeat="sortType in sortTypes">
                    <a href="javascript:void(null);"
                       ng-click="sortBy(sortType)"
                       class="no-bottom-border"
                       ng-class="{'underlined':sortType.selected}">
                        {{sortType.type}}
                    </a>
                </li>
            </ul>

        </div>
        <ul class="padding-5">
            <li ng-repeat="result in results">
                <div ng-include="resultTemplate" class="overlay-contents"></div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="full-width text-center btn-primary">
        <button class="tiny-button" ng-click="searchTerms(searchCriteria.skip+1)" ng-if="results.length > 0">More</button>
    </div>

    <span ng-show="loadingMore">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </span>
</div>