<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PublicKey" value="[add a unique public key here]" />
    <add key="PrivateKey" value="[add a unique privat key here]"></add>
    <add key="CryptoKey" value="[add a unique crypto key]"/>
    <add key="InitialVector" value="[add a unique initial vector]"/>
    <add key="SupportEmailAddress" value="support@N-Dexed.com" />
    <add key="ClientSetPasswordUrl" value="http://localhost:8080/n-dexed/www/index.html#/setPassword" />
    <add key="UserRegistrationUrl" value="http://localhost:8080/n-dexed/www/index.html#/setPassword" />
   <add key="SupportEmailAddress" value="technology@n-dexed.com" />
  </appSettings>
  <system.net>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>