html, body {
    font-family: 'Raleway', Arial, sans-serif !important;
    color: #fff;
    background-color: #fff;
    line-height: 28px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    letter-spacing: 0;
}

.pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
    }

a {
    color: #666666;
    text-decoration: none;
    line-height: 35px;
    border-bottom: 1px solid #f15a24;
    padding-bottom: 5px;
}

    a:hover {
    border-bottom: none;
    }

header {
    height:80px;
}

.header-img{
    width:200px;
    padding:15px;
    float:left;
}
em{
    color: rgba(51,122,182, 1);
    font-weight: bold;
    font-style: oblique;
}

.red{
    color:#f15a24 !important;
}

.highlight b{
    color: rgba(51,122,182, 1);
    font-weight: bold;
    font-style: oblique;
}
.header h1 {
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    padding: 0 40px;
    font-weight: bold;
    color: #666666;
    color: rgba(51,122,183, .7);
    transform: perspective(50px) rotateX(12deg);
    transform-origin: right;
    margin-left:30px;
}

.bordered {
    border: solid 1px #ccc;
}

.bordered-right {
    border-right: solid 1px #ccc;
}

.bordered-bottom {
    border-bottom: solid 1px #ccc;
}

.no-border{
    border:none !important;
}
.no-top-border{
    border-top:none !important;
}

.no-bottom-border{
    border-bottom:none !important;
}

.underlined {
    border-bottom: solid 1px #f15a24 !important;
}
.dark {
    color: #fefefe;
    background-color: #343F15;
}

.light {
    color: #343F15;
    background-color: #A6B07E;
}

input[type="text"], [type="password"], [type="email"] {
    padding: 3px 5px;
    line-height: 28px;
    font-size: 18px;
    display: block;
    border: solid 1px #879468;
    color: #666666;
}

.center-container {
    text-align: center;
    margin-top: 10%;
}

    .center-container a span {
        padding: 3px;
        margin: 15px;
    }

.login {
    display: inline-block;
    border: solid 1px #dedede;
    
    background-color: #fefefe;
    color: #fff;
}

    .login input[type="text"] {
        margin-bottom:25px;
        border-color: #dfdfdf;
        padding:10px;
    }

    .login input[type="password"] {
        border-color: #dfdfdf;
        padding:10px;
    }
    
    .login input[type="email"] {
        border-color: #dfdfdf;
        padding:10px;
    }
    .login h1 {
        font-size: 26px !important;
        color: #666666;
        color: rgba(51,122,183, .7);
        text-align: center;
        padding: 5px 15px;
        letter-spacing: 4px;
        border-bottom: solid 1px #ddd;
    }

button {
    background-color: #666666;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 25px;
    font-weight: 500;
    margin: 15px 0;
}

.login div {
    padding: 15px 70px;
}

.right {
    float: right !important;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.register {
     margin: 0 auto;
    display: inline-block;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #dedede;
    padding: 10px 25px;
}

    
    .register input[type="text"] {
        border-bottom: none;
        border-color: #dfdfdf;
        -ms-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -ms-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        width: 100%;
    }

    .register input[type="password"] {
        border-color: #dfdfdf;
        -ms-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -ms-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
    }
    
    .register input[type="email"] {
        border-color: #dfdfdf;
        -ms-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -ms-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
    }
    .register h1 {
        font-size: 34px;
        color: #666666;
        color: rgba(51,122,183, .7);
        text-align: left;
    }

.center{
    margin:auto;

}

.text-center{
    text-align:center;
}

.center-middle {
    margin: auto;
    width: 50%;
}

.validation-message {
    border-radius: 4px;
    border: solid 2px #B8A1B0;
    padding: 5px 10px;
    margin: 15px;
    display: inline-block;
}

.header {
    color: #626262;
}

    .header ul {
        list-style: none;
        line-height: 28px;
        padding: 20px 30px;
        margin: 0;
    }

    .header > ul > li {
        display: inline;
        margin: 0 15px;
        padding: 7px 15px;
    }

        .header > ul > li:hover {
            cursor: pointer;
        }


    .header > ul > .selected {
        border-bottom: solid 1px #666666
    }

.view {
    color: #626262;
    margin-left:35px;
}

.view-port {
    padding: 25px 50px;
}

h2{
    color: #333;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.view-port h2 {
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    font-size: 150%;
    font-weight: 500;
    color: #a9aba9;


}



    .details-view h2 a {
        font-size: 12px;
        margin: 0;
    }

.view h1 {
    font-size: 120%;
    font-weight: 500;
    color: #666666;
    letter-spacing: 0;

}

table {
    width: 100%;
}

    table thead th {
        text-align:left;
        padding: 7px 15px;
        
        border: none;
        color: #f15a24;
        font-weight: 400;
        border-bottom:solid 1px;
    }

        table thead th:first-child {
            
        }

    table tbody td {
        padding: 7px 15px;
        text-align: left;
        border: none;
        color: #727272;
        position: relative;
        white-space: nowrap;
    }


        table tbody td:first-child {
            
        }

    table tr{
        border-bottom:solid 1px #ddd;
    }

    table tbody tr:hover{
    }
    table tbody tr:hover a{
        color:rgb(241,90,36);
        cursor:pointer;
    }
    
    table tbody tr:hover td{
        color:rgb(241,90,36);
        
        cursor:pointer;
    }
    table tr td a{
        border-bottom:none;
    }


.confirmation {
    position: absolute;
    border: solid 3px #f15a24;
    background-color: #fff;
    border-radius: 8px;
    min-width: 200px;
    top: -20px;
    left: 37px;
    z-index: 999;
}

    .confirmation div:first-child {
        border: solid 0px #f15a24;
        border-radius: 8px;
        padding: 15px;
    }

    .confirmation i {
        position: absolute;
        color: #f15a24;
        left: -11px;
        font-size: 30px;
        top: 25px;
    }

    .confirmation .button-container a {
        padding: 0 15px;
    }

    .confirmation .default {
        background-color: #f15a24;
        color: #fff;
        border-radius: 8px;
        padding: 5px 10px !important;
    }

.search-component {
    position: relative;
}

    .search-component i {
        top: 10px;
        left: 10px;
        position: absolute;
    }

    .search-component input {
        border-radius: 16px;
        border: solid 1px #dedede;
        width: 300px;
        padding: 3px 5px;
        padding-left: 30px;
        font-size: 16px;
    }

.overlay {
    background-color: #fefefe;
    border: solid 1px #dedede;
    border-left: solid 1px #999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: -1px -1px 5px #ccc;
    left: 100%;
}

    .overlay h1 {
        white-space: nowrap;
        padding-bottom: 10px;
    }

    .overlay a {
        margin: 10px;
    }

    .overlay label {
        display: block;
        white-space: nowrap;
    }

    .overlay input {
        width: 100%;
        display: block;
    }

    .overlay textarea {
        width: 100%;
        border-radius:4px;
        font-family:'Raleway'
    }

.search-area{    
    padding: 25px 15px;
    width: 100%;
    margin: 0 !important;
    left: -25px;
    position: relative;
}

.search-area tr{
    border:none;
}

.overlay-left {
    background-color: #fefefe;
    border: solid 1px #dedede;
    border-left: solid 1px #999;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 1px 1px 5px #ccc;
    left: -50%;
    width:25%;
}

    .overlay-left h1 {
        white-space: nowrap;
        border-bottom: solid 1px #f15a24;
        padding-bottom: 10px;
        margin-left:0 !important;
    }

    .overlay-left a {
        margin: 10px;
    }

    .overlay-left label {
        display: block;
        white-space: nowrap;
        font-weight:100 !important;
    }

    .overlay-left input {
        width: 100%;
        display: block;
    }

    .overlay textarea {
        width: 100%;
        
        font-family:'Raleway';
    }

.overlay-contents {
    padding: 25px;
    letter-spacing: normal;
}

.overlay-contents p{
    margin:0 80px;
}

.message{

    position: absolute;
    font-size: 25px;
    line-height: 55px;
    color: #f15a24;
    padding: 0 15px;
}

.hidden-right {
    animation-name: fly-out-transform;
    animation-duration: .5s;
}

.hidden-left {
    animation-name: fly-out-left-transform;
    animation-duration: .5s;
}

.fly-in {
    animation-name: fly-in-transform;
    animation-duration: .5s;
    left: 70%;
}
.small-font{
    font-size:small;
}

@-moz-keyframes fly-in-transform {
    from {
        left: 100%;
    }

    to {
        left: 70%;
    }
}

@-ms-keyframes fly-in-transform {
    from {
        left: 100%;
    }

    to {
        left: 70%;
    }
}

@-webkit-keyframes fly-in-transform {
    from {
        left: 100%;
    }

    to {
        left: 70%;
    }
}

@keyframes fly-in-transform {
    from {
        left: 100%;
    }

    to {
        left: 70%;
    }
}

@-moz-keyframes fly-out-transform {
    from {
        left: 70%;
    }

    to {
        left: 100%;
    }
}

@-ms-keyframes fly-out-transform {
    from {
        left: 70%;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes fly-out-transform {
    from {
        left: 70%;
    }

    to {
        left: 100%;
    }
}

@keyframes fly-out-transform {
    from {
        left: 70%;
    }

    to {
        left: 100%;
    }
}


.fly-in-left {
    animation-name: fly-in-left-transform;
    animation-duration: .5s;
    left: 0%;
}

@-moz-keyframes fly-in-left-transform {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@-ms-keyframes fly-in-left-transform {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@-webkit-keyframes fly-in-left-transform {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@keyframes fly-in-left-transform {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@-moz-keyframes fly-out-left-transform {
    from {
        left: 0;
    }

    to {
        left: -50%;
    }
}

@-ms-keyframes fly-out-left-transform {
    from {
        left: 0;
    }

    to {
        left: -50%;
    }
}

@-webkit-keyframes fly-out-left-transform {
    from {
        left: 0;
    }

    to {
        left: -50%;
    }
}

@keyframes fly-out-left-transform {
    from {
        left: 0;
    }

    to {
        left: -50%;
    }
}


.fly-in-wide {
    animation-name: fly-in-wide-transform;
    animation-duration: .5s;
    left: 15%;
    overflow-y: scroll;
    overflow-x: hidden;
    /*box-shadow: -1px -1px 25px #666;*/
    border-left: solid 3px #f15a24;
}

@-moz-keyframes fly-in-wide-transform {
    from {
        left: 100%;
    }

    to {
        left: 15%;
    }
}

@-ms-keyframes fly-in-wide-transform {
    from {
        left: 100%;
    }

    to {
        left: 15%;
    }
}

@-webkit-keyframes fly-in-wide-transform {
    from {
        left: 100%;
    }

    to {
        left: 15%;
    }
}

@keyframes fly-in-wide-transform {
    from {
        left: 100%;
    }

    to {
        left: 15%;
    }
}

@-moz-keyframes fly-out-transform {
    from {
        left: 15%;
    }

    to {
        left: 100%;
    }
}

@-ms-keyframes fly-out-transform {
    from {
        left: 15%;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes fly-out-transform {
    from {
        left: 15%;
    }

    to {
        left: 100%;
    }
}

@keyframes fly-out-transform {
    from {
        left: 15%;
    }

    to {
        left: 100%;
    }
}

.overlay .button-container {
    width: 300px;
    padding: 15px 0;
    text-align: right;
}

.overlay button {
    min-width: 100px;
    padding: 5px 10px;
    white-space: nowrap;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.add-button {
    margin: 12px;
    border-radius: 8px;
    margin-left: 25px;
    padding: 0;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: super;
}

    .add-button span {
        padding: 5px 15px;
        padding-left: 5px;
    }

    .add-button i {
        padding: 5px;
       font-size:small;
    }

.provider-menu{
    padding:0 25px !important;
    margin: 10px 0 !important;
}

.details-view{
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-top: none;
}
.details-view label {
    display: block;
    font-weight: 600;
}

.details-view div {
    font-size: small;
}

.details-view h2 {
    padding-bottom: 10px;
    border-bottom: solid 0px #ccc;
    font-size: 120%;
    font-weight: 500;
    color: #a9aba9;
}

.details-view .add-button {
    font-size: 12px;
    margin: 0;
}

.details-view tr{
    line-height: 20px;
}

.details-view table tbody td{
    word-wrap: break-word;
    white-space: normal;
}

.section-menu {
    padding: 0 !important;
}

    .section-menu ul {
        list-style: none;
        margin: 0;
        padding: 10px 5px;
    }

    .section-menu li {
        margin: 0 5px;
        display: inline;
        cursor: pointer;
    }

    .section-menu ul .selected {
        border-bottom: solid 1px #f15a24;
    }

.document-upload-view ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.document-upload-view .progress-indicator {
    display: block;
    height: 25px;
    background-color: #00ff7f;
    padding: 0;
}

.document-upload-view button {
    width: 300px;
}

.document-upload-view label {
    font-size: 12px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

.document-list-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    width: 100%;
}

.document-view{
    height:95%;
}
.document-view li label {
    font-weight: normal;
    font-size: 12px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}

.document-view h2 {
    font-size: 110%;
    color: #909090;
}

.document-view ul {
    padding: 0;
    list-style: none;
}

    .document-view ul a span {
        font-size: 12px;
        line-height: 14px;
    }

.document-view .search-component {
    width: 100%;
}

    .document-view .search-component input[type="text"] {
        width: 50%;
    }

    .document-view .search-component i {
        left: 25px;
    }

.document-search {
    margin-top: -50px;
}

.search-results {
    letter-spacing: 0;
}

.save-icon{
    padding: 0 15px;
    font-size: xx-large;
    color: #66666e;
    cursor:pointer;
}
    .search-results em {
        color: #f15a24;
        font-weight: 600;
    }

    
    .search-results .highlight b{
        color: #f15a24;
        font-weight: 600;
    }


    .search-results h4 {
        padding: 0;
        margin: 0;
        line-height: 22px;
    }

    .search-results li {
        margin-bottom: 15px;
    }

        .search-results li span {
            font-size: 12px;
        }

.pager li {
    display: inline;
    padding: 0 5px;
    margin: 10px;
}

    .pager li a {
    }

        .pager li a:hover {
            text-decoration: underline;
        }

.pager .selected a {
    text-decoration: underline;
}

.add-item-view input [type="text"] {
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
}

.add-item-view input textarea {
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
}

.add-item-view button {
    width: 300px;
}

.time-view .confirmation{
    width: 350px;
}

.time-view input {
    width: 100%;
}

.time-view textarea {
    width: 100%;
    height: 200px;
}


.note-view textarea {
    width: 100%;
    height: 100px;
}

.note-view button {
    width: 150px;
    float: right;
}

.note-view .confirmation{
    width: 350px;
}


.view-port .confirmation{
    width: 350px;
}

.search-view form{
    margin-left:30px;
}
.search-view h2{
    margin-left: 1px;
    font-weight: 100;
}

.search-details{
    letter-spacing: normal;
}
.search-details h2{
    width: 100%;
    margin: 25PX;
    font-weight: 100;
}

.search-view textarea{
    margin-left:15px;
    width:91%;
    font-family:'Raleway';
    border-radius: 2px;
    padding: 10px;
}
.search-view ul{
    margin-left:0px;
}

.description{
    color: #000;
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    padding-left: 25px;
    margin-left: 80px;
    line-height: 35px;
}

.gold{
    color:gold;
}

.silver{
    color:silver;
}
.citation-description{
    display: block;
    font-size: 17px;
    padding-left: 25px;
    line-height: 35px;
}
.margin-claims{
    padding: 0 !important;
}

.margin-claims-show{
    padding-bottom: 10px !important; 
    border-bottom: solid 1px #ddd !important;
}

.claims-list{
    border: solid 1px #ddd;
    padding: 15px 0 !important;
}


.citations-item{
    border-bottom: solid 1px #ddd;
    font-family:'Raleway';
}

.citations-item h4{
    margin:0;
    padding:0;
    margin-left: 15px;
}

.citations-item p{
    margin: auto;
    margin-left: 25px;
    padding-bottom: 25px;
}

.citations-item h5{
    font-variant: all-petite-caps;
    font-size: medium;
    padding: 0;
    margin: 0 25px;
}

.citations-item a{
    font-weight:normal;
}

.citations-item:first-child{
    border-top: solid 1px #ddd;
    margin-top:10px;
}


.citations-item-show{
    display: inline-table;
    white-space: normal; 
    width: 96%;
}

.claims-item{
    padding-bottom:15px !important;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px !important;
    /*background-color: #f7f7f8; */
    border-bottom: solid 1px #ddd;
    font-family:'Raleway';
}

.claims-item:first-child{
    border-top: solid 1px #ddd;
    margin-top:10px;
}
.claims-item-show{
    overflow: visible!important ;
    display: inline-table;
    clear: both;
    white-space: normal;
    background-color: #fdfdfd; 
}

.score-list{
    position: relative;
}

.score-list li{
    margin: 1px !important
}
.score-item{
    font-size: 12px;
    padding: 2px 15px !important;
}

.main-score{
    font-size:16px;
}
.high-score{
    color: #fefefe;
    background-color: #59B209;
    padding: 5px 10px;
    float:left;
    margin-right:15px;
}

.medium-score{
    color: #fefefe !important;
    background-color: #59B209;
    padding: 5px 10px;
    float:left;
    margin-right:15px;
}

.low-score{
    color: #fefefe !important;
    background-color: #7c9bab;
    padding: 5px 10px;
    float:left;
    margin-right:15px;
}

.cpc-score{
    padding: 5px 10px;
    float:left;
    margin-right:15px;
}
.search-view .search-component input{
    width: 80%;
    margin-left:30px;
}

.search-view .search-component i {
    left: 25px;
}

.search-view ul li {
    list-style: none;
    margin-bottom: 75px;
    padding-bottom: 5px;
}

.search-view ul li{
}

.search-view ul li h3{
    margin:0;
}

.modal-container {
    position: fixed;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.detail-overlay {
    background-color: #fefefe;
    border: solid 1px #dedede;
    border-left: solid 1px #999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: -1px -1px 15px #ccc;
    left: 200px;
    padding: 0 !important;
    padding-left:15px !important;
}


.detail-overlay h1{
    margin:0;
    border-bottom:solid 1px #ddd;
    padding-top:15px;
    padding-bottom:15px;
}

.detail-overlay h2{
    padding-top:10px;
    margin:0;
}

.detail-overlay .detail-header{
    border:none;
}

.detail-overlay button{
    width:250px;
}

.detail-overlay .section-menu{
    margin-left:-30px;
    margin-right:-15px;
    background-color:#aaa;
    border-top:solid 5px #666;
    border-bottom:solid 1px #666;
}


.detail-overlay .section-menu .selected{
    background-color:#666;
    border-bottom:solid 1px #666;
}

.detail-overlay .section-menu  i{
    color:#666;
}

.detail-overlay .section-menu .selected i{
    color:#fff;
}

.detail-header {
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    min-height: 30px;
    padding: 10px 0 !important;
}

.detail-header a i {
    padding: 0 15px;
}

.detail-display {
    overflow-y: scroll;
    padding: 15px;
    height: 90%;
}

.sub-detail{
    margin-left:75px;
}

.sub-detail .document-view{
    border-top:solid 3px #666;
    height:95%;
}

.search-results-header{
    margin-left:30px;
}
.search-results-header ul{
    margin: 0;
    margin-left:30px;
}

.profile label {
    display: block;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
}

.short-input {
    width: 75px;
}

.margin-0-0-0-10 {
    margin: 0 0 0 10px;
}

.margin-10 {
    margin: 10px;
}

.margin-left-0{
    margin-left:0px !important;
}

.margin-left-5{
    margin-left:5px;
}
.margin-left-15{
    margin-left:15px;
}

.margin-0 {
    margin: 0 !important;
}


.margin-0-15 {
    margin: 0 15px !important;
}

.margin-0-50 {
    margin: 0 50px !important;
}

.margin-50-0 {
    margin: 50px 0 !important;
}

.top-15 {
    top: 15px;
    position: relative;
}

.margin-top-15 {
    margin-top: 75px;
}

.listing {
    list-style: none;
}

.title{
    font-size: larger !important;
    font-variant: all-petite-caps;
    color: #555;
    margin-bottom: 10px;
}


.profile .confirmation{
    width: 350px;
}

.padding-0{
    padding:0 !important;
}

.padding-5{
    padding:5px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-15-0 {
    padding: 15px 0 !important;
}

.padding-5-15 {
    padding:5px 15px !important;
}

.padding-0-15-15 {
    padding:0px 15px 15px !important;
}

.small-button {
    font-size: 12px;
}

.tiny-button {
    font-size: 12px;
    margin: 10px;
    border-radius: 4px;
    border: solid 1px #dedede;
    margin-left: 15px;
    padding: 0 5px;
    width: 145px;
}

.medium-button {
    font-size: 18px;
    background-color: #59B209;
    margin-left: 15px;
    padding: 0 5px;
    letter-spacing: 3px;
    color: #fff;
}

.matching-opinion{
    font-size:small;
    border:solid 1px #ddd;
    margin:25px 0 50px 0;
}

.large-search-box{
    width:99%;
    height:100px;
}

.date-label{
    font-weight:100 !important;
}

h2 form{
    float:right;
}

h2 form span{
    font-size:smaller;
}

.overflow{
    max-width: 750px;
    overflow-x: hidden;
    display: block;
    text-overflow: ellipsis;
}

.no-wrap{
    white-space:nowrap !important;
    overflow:hidden;
}

.listing input[type="checkbox"]{
    margin:7px;
}

.underlined-header{
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    margin-left:45px !important;
    font-size:150% !important;
}

.search-result{
    padding-bottom:25px !important;
}

.search-result h3{
    margin:0;
}

.search-result h4{
    margin:0;
    font-weight:100;
}

.content-preview{
    font-size:x-small;
    line-height:10px;
}

.scrollable{
    overflow:auto;
}

.scrollable h3{
    margin:0;
    font-weight:100;
    font-size:medium;
}

.scrollable h4{
    margin:0;
    font-size:x-small;
    font-weight:100;
}

.no-left-padding{
    padding-left:0 !important;
}

.inline-block{
    display:inline-block;
}

.block{
    display:block;
}

.tag{
    float:left;
    padding:3px 5px;
    border:solid 1px #aaa;
    margin:3px;
    background-color:#f15a24;
    color:#fff;
    border-radius:4px;
}

.selected-tag{
    background-color:#88B4D8;
}

.tag a, tag a:hover{
    color:#fff;
    text-decoration:none;
}

.sub-modal-tag-input{
    margin:20px;
    margin-top:19px;
}

.margin-top-20{
    margin-top:20px;
}

.padding-right-20{
    padding-right:20px;
}

.disabled{
    background-color:#ddd;
}
.inline{
    display:inline;
}

.full-width{
    width:95%;
}

.width-90{
    width:90%;
}

.width-80{
    width:80%;
}

.width-20{
    width:20%;
}

.width-25{
    width:25%;
}


.width-40{
    width:40% !important;
}

.side-menu{
    float:left;
    height:100%;
    bottom:0;
    width:100px;
    border:solid;
}

.width-65{
    width:65%;
}

.prediction-list{
    padding: 0
}

.prediction-list-item {
    font-weight: bold;
    border-radius: 4px;
    
    float: left;
    padding: 1px 10px;
    white-space: nowrap;
    margin-bottom: 10px !important;
}

.predicted-label-list{
    float: left;
    background-color: #fff;
}
.predicted-label-item{
    padding: 0 !important;
    margin: 0;
}
.predictions-view {
    width: 98px;
    display: inline;
}

.similarity-score{
    float: left;
    font-size: 250%;
}

.similar-result{
    float: left;
    margin: 20px 0;
    line-height:20px;
    width:95%;
}

.prediction-search-div{
    border: none;
    font-size: medium;
}

.breadcrumb-menu{
    border-bottom: solid 1px #d27548db;
    padding: 0 0 20px 0 !important;
}

.breadcrumb{
    font-size: -webkit-xxx-large;
    font-weight: 800;
}

.breadcrumb a{
    color:#ccc;
}

.prediction-label{
    font-size: 34px;
    display: -webkit-box;
    width: 50px;
    padding: 3px;
    text-align: -webkit-center;
    margin: 0;
}

.prediction-percentage{
    width: 50px;
    padding: 5px;
}

.image-search-result{
    display: block;
    margin-bottom: 15px !important;
    padding-bottom:10px !important; 
    border-bottom: solid 1px #ddd;
    width: 50%;
    margin-left: 30px;
}

.thumbnail-container{
    display: inline;
    float: left;
}
.thumbnail {
}

.thumbnail img{
}

.thumbnail:after {
}

.resultsView h2{
    color:#666;
}

.resultsView select{
    max-width:50%;
}

.calendar{
    float:left;
    width:25%;
    border-right: solid 1px #ddd;
}
.calendar-event{
    margin-bottom:15px;
}
.calendar-event h2{
    color:#da5b1d;
    padding: 0;
    margin: 0;
}

.calendar-event span{
    padding-left:23px;
    display:block;
    font-size:smaller;
}

.application-view h1{
    padding-left: 0;
    margin-left: 0;
    font-size: xx-large;
    color: #d27548db;
}

.abstract{
    padding-bottom:25px;
    border-bottom:solid 1px #879468;
}

.search-section-menu{    
    float: right;
    right: 100px;
    position: relative;
    height: 10px;
    padding: 0;
    margin: 0;
}

.search-section-menu li{
    float:left;
    color:#f15a24;
    padding:0 3px;
    margin-bottom:0 !important;
}