﻿<div ng-controller="caseDocumentsController" class="document-upload-view">
    <h1>Add Documents</h1>

    <div flow-init flow-complete="uploadComplete()"
        flow-file-added="onFileAdded($file)"
        flow-file-success="onFileUploadSuccess($message, $file)"
        flow-file-error="onFileUploadError($message, $file)"
        flow-name="uploader.flow"
        flow-file-progress="onFileProgress($file)">

        <button ng-if="$flow.files.length === 0" flow-btn>Add Documents</button>
        


        <div class="document-list-container">
            <ul>
                <li ng-repeat="file in $flow.files">
                    <label>{{file.name}}</label>
                    <div class="progress-indicator" ng-style="{width:file.percentComplete*100 + '%'}"></div>
                </li>
            </ul>
        </div>

        <div ng-if="$flow.files.length > 0" class="no-left-padding">
            <h3>Tags</h3>
            <input type="text" ng-model="tagInput.value" ng-keypress="handleKeyPress($event)" />
            <div class="no-left-padding">
                <ul>
                    <li ng-repeat="tag in tags" class="tag">
                        <span>{{tag}} <a href="javascript:;" ng-click="removeTag(tag)">x</a></span>
                    </li>
                </ul>
            </div>
        </div>

        <button ng-click="upload()" ng-if="$flow.files.length > 0">Upload</button>
        <a ng-click="toggleShowFlyIn()">Cancel</a>
    </div>
</div>
