﻿<div ng-controller="caseTimeController" class="add-item-view">
    <h1>Add Time</h1>
    <form>
        <label>Hours Spent</label>
        <input type="text" ng-model="time.hours" />

        <label>Description</label>
        <textarea ng-model="time.description"></textarea>
        
        <button ng-click="addTime()">Add</button>
        <a href="javascript:;" ng-click="toggleShowFlyIn()">Cancel</a>
    </form>

</div>
