﻿<div>
    <h1>Add User</h1>
    <form name="addUserForm">
        <label>Search by Name or Email</label>
        {{searchTerm}}
        <input type="text" ng-model="searchTerm" ng-change="search(searchTerm)"/>
        <div ng-if="searchResults" class="no-left-padding">
            <ul class="listing no-left-padding">
                <li ng-repeat="result in searchResults">
                    <span class="no-wrap no-left-padding"><a href="javascript:;" ng-click="addUser(result)">{{result.userName}} ({{result.emailAddress}})</a></span>
                </li>
            </ul>
        </div>

        <a href="javascript:;" ng-click="toggleShowAddUser()">Cancel</a>
    </form>
</div>