﻿<div ng-controller="caseDocumentsController" ng-init="initialize()" class="document-view">
    <div>
        <h1 class="inline-block">Documents</h1>

        <a class="small-button right padding-15" ng-click="toggleCreatePackage()" href="javascript:;" ng-if="!creatingPackage">Create Package</a>
        <a class="small-button right padding-15" ng-click="toggleCreatePackage()" href="javascript:;" ng-if="creatingPackage">Cancel</a>
        <a class="small-button right padding-15" ng-click="downloadDocumentZip()" href="javascript:;" ng-if="creatingPackage">Download Package</a>
    </div>
    <div ng-click="hideModal()">
        <div>
            <table>
                <thead>
                    <tr>
                        <th colspan="2" ng-if="!creatingPackage"></th>
                        <th colspan="3" ng-if="creatingPackage"></th>
                        <th>Name</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in documents">
                        <td>
                            <a href="javascript:;" ng-click="showDeleteConfirmation(document)"><i class="fa fa-trash-o"></i></a>
                            <div class="confirmation" ng-if="document.showConfirmDelete">
                                <div>
                                    <i class="fa fa-caret-left"></i>
                                    Are you sure you want to delete this document?
                                    <div class="button-container">
                                        <a href="javascript:;" ng-click="removeDocument(document)" class="default">Yes</a>
                                        <a href="javascript:;" ng-click="document.showConfirmDelete = false">No</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-if="!document.editing">
                            <a href="javascript:;" ng-click="editDocument(document)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td ng-if="document.editing">
                            <a href="javascript:;" ng-click="updateDocument(document)"><i class="fa fa-floppy-o"></i></a>
                        </td>
                        <td ng-if="creatingPackage"><input type="checkbox" ng-model="document.selected" /></td>
                        <td ng-if="!document.editing"><a href="javascript:;" ng-click="getDocumentDetail(document.id, document.caseId)">{{document.name}}</a></td>
                        <td ng-if="document.editing"><input type="text" ng-model="document.name" class="full-width"/></td>
                        <td>{{document.createdDateTime | date:'EEEE, MMMM d, y'}}</td>
                    </tr>
                    <tr ng-if="caseInfo.users.length == 0">
                        <td colspan="3">
                            No users have been added to this matter
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="detail-overlay" ng-if="showModal">
        <div class="detail-header">
            <a href="javascript:;" ng-click="addDocument(detail)" ng-if="action != 'showDocumentDetails'"><i class="fa fa-link fa-lg"></i>Add to Matter</a>
            <a ng-href="{{detail.url}}" target="_blank" class="button center-middle" ng-if="action == 'showDocumentDetails'">{{detail.name}} - Created {{detail.createdDateTime | date:'EEEE, MMMM d, y'}}</a>
            <a href="javascript:;" class="right" ng-click="toggleModal()"><i class="fa fa-close"></i></a>
        </div>

        <div ng-if="action == 'showDocumentDetails'" class="document-view">

            <div class="section-menu">
                <ul>
                    <li ng-repeat="item in subSections" ng-class="{'selected':item.selected}" ng-click="selectItem(item)">
                        <i class="fa fa-{{item.icon}} fa-lg"></i>
                        {{item.text}}
                    </li>
                </ul>
            </div>

            <div ng-if="relatedEntityType == 'View' && documentIsPdf(detail)" class="document-view">
                <object data="{{detail.binaryData}}" type="application/pdf" style="width: 100%; height: 100%;"></object>
            </div>


            <div ng-if="relatedEntityType == 'View' && documentIsPdf(detail) ==  false && documentIsHtml(detail) == false" class="document-view">
                <iframe ng-src="{{detail.viewUrl}}" width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
            </div>

            <div ng-if="relatedEntityType == 'View' && documentIsHtml(detail)" class="scrollable document-view" ng-bind-html="detail.trustedHtml">
            </div>

            <div ng-if="relatedEntityType == 'Documents'">
                <button ng-click="getMatches(detail)">Find Related Documents</button>
                <div class="scrollable">
                    <ul>
                        <li ng-repeat="match in detail.matchingDocuments">
                            <a href="javascript:;" ng-click="getSubDetail(match)">
                                <div class="search-result">
                                    <h3>{{match.name}} ({{match.rank}})</h3>
                                    <h4>{{match.createdDateTime | date:'EEEE, MMMM d, y'}}</h4>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="relatedEntityType == 'Opinions'">
                <button ng-click="getMatches(detail)">Find Related Opinions</button>
                <div class="scrollable">
                    <ul>
                        <li ng-repeat="match in detail.matchingOpinions">
                            <a href="javascript:;" ng-click="getSubDetail(match)">
                                <div class="search-result">
                                    <h3>{{match.parties}} ({{match.rank}})</h3>
                                    <h4>{{match.date}}   &raquo;  {{match.court}}</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="relatedEntityType == 'Regulations'">
                <button ng-click="getMatches(detail)">Find Related Regulations</button>
                <div class="scrollable">
                    <ul>
                        <li ng-repeat="match in detail.matchingRegulations">
                            <a href="javascript:;" ng-click="getSubDetail(match)">
                                <div class="search-result">
                                    <h3>{{match.name}} ({{match.rank}})</h3>
                                    <h4>{{match.createdDateTime | date:'EEEE, MMMM d, y'}}</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="relatedEntityType == 'Tags'">
                <h3>Tags</h3>
                <!-- <input type="text" ng-model="tagInput.value" ng-keypress="handleKeyPress($event)" /> -->
                <div class="no-left-padding left">
                    <ul>
                        <li ng-repeat="tag in detail.tags" class="tag">
                            <span>{{tag}} <!--<a href="javascript:;" ng-click="removeTag(tag)">x</a>--></span>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>


        <div class="sub-detail detail-overlay" ng-if="showSubModal">
            <div class="detail-header">
                <a href="javascript:;" ng-click="addDocument(subDetail)" class="left margin-top-20"><i class="fa fa-link fa-lg"></i>Add to Matter</a>
                <a href="javascript:;" class="right" ng-click="toggleSubModal()"><i class="fa fa-close"></i></a>

                <div class="right">
                    <h3 class="left inline-block">Tags</h3>
                    <input type="text" ng-model="tagInput.value" ng-keypress="handleKeyPress($event)" class="left sub-modal-tag-input" />
                    <div class="no-left-padding left">
                        <ul>
                            <li ng-repeat="tag in tags" class="tag">
                                <span>{{tag}} <a href="javascript:;" ng-click="removeTag(tag)">x</a></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="clear"></div>

                <div flow-init flow-complete="uploadComplete()"
                     flow-file-added="onFileAdded($file)"
                     flow-file-success="onFileUploadSuccess($message, $file)"
                     flow-file-error="onFileUploadError($message, $file)"
                     flow-name="uploader.flow"
                     flow-file-progress="onFileProgress($file)">

                    <div class="document-list-container">
                        <ul>
                            <li ng-repeat="file in $flow.files">
                                <div class="progress-indicator" ng-style="{width:file.percentComplete*100 + '%'}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scrollable document-view" ng-bind-html="subDetail.trustedHtml" ng-if="relatedEntityType == 'Opinions'"></div>

            <div ng-if="relatedEntityType == 'Regulations' || relatedEntityType == 'Documents'" class="document-view">
                <div ng-if="documentIsPdf(subDetail)" class="document-view">
                    <object data="{{subDetail.binaryData}}" type="application/pdf" style="width: 100%; height: 100%;"></object>
                </div>

                <div ng-if="documentIsPdf(subDetail) ==  false && documentIsHtml(subDetail) == false" class="document-view">
                    <iframe ng-src="{{subDetail.viewUrl}}" width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
                </div>

                <div ng-if="documentIsHtml(subDetail)" class="scrollable document-view" ng-bind-html="subDetail.trustedHtml">
                </div>

            </div>
        </div>

    </div>

</div>

