﻿<div ng-controller="caseNoteController" ng-init="initialize()" class="note-view">
    <div>
        <h1>Notes</h1>
    </div>

    <div class="pure-g">
        <div class="pure-u-24-24">

            <label>Note</label>
            <textarea ng-model="note.message"></textarea>

            <button ng-click="addNote()">Add</button>
        </div>
        <div class="pure-u-24-24">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="note in notes | orderBy:'createdDateTime'">
                        <td>
                            <a href="javascript:;" ng-click="showDeleteConfirmation(note)"><i class="fa fa-trash-o"></i></a>
                            <div class="confirmation" ng-if="note.showConfirmDelete">
                                <div>
                                    <i class="fa fa-caret-left"></i>
                                    Are you sure you want to remove this note?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="deleteNote(note)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="note.showConfirmDelete = false">No</a>
                                </div>
                                </div>
                            </div>
                        </td>
                        <td>{{note.createdDateTime | date}}</td>
                        <td><span title="{{note.message}}">{{note.message | limitTo:100}}</span><span ng-if="note.message.length > 100">...</span></td>
                    </tr>
                    <tr ng-if="notes.length === 0">
                        <td colspan="3">You have not added any notes yet</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

