﻿<div ng-controller="caseSearchController" ng-init="initialize()" class="search-view">
    <div>
        <h1>Search</h1>
    </div>
    <form>
        <span>Find Related</span>
        <input type="radio" title="Opinions" value="Opinions" ng-model="relatedEntityType" ng-change="onEntityTypeChanged()" />
        <span>Opinions</span>
        <input type="radio" title="Documents" value="Documents" ng-model="relatedEntityType" ng-change="onEntityTypeChanged()" />
        <span>Documents</span>
        <input type="radio" title="Regulations" value="Regulations" ng-model="relatedEntityType" ng-change="onEntityTypeChanged()" />
        <span>Regulations</span>
    </form>
    <div class="search-component">
        <textarea class="large-search-box" ng-model="searchCriteria.term" ng-focus="focusSearch()" ng-blur="blurSearch()" ng-keypress="handleKeyPress($event)" placeholder="Search"></textarea>

        <button class="tiny-button right" ng-click="search(0)">Search</button>
    </div>

    <h2>Results</h2>
    <div class="search-results-header">
        <div ng-if="documentTags.length > 0" class="no-wrap">
            <h3 class="left inline-block padding-right-20 margin-0">Filters</h3>
            <ul>
                <li ng-repeat="tag in documentTags" class="tag" ng-class="{'selected-tag':tag.selected}">
                    <a href="javascript:;" ng-click="toggleFilter(tag)">
                        {{tag.value}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>

        <label ng-if="results && getPageCount() > 0" class="left">Page {{searchCriteria.page + 1}} of {{getPageCount()}}</label>
        <ul class="pager left">
            <li ng-repeat="page in getPages()" ng-click="search(page)" ng-class="{'selected':page === searchCriteria.page}"><a href="javascript:;">{{page + 1}}</a></li>
        </ul>
    </div>
    <div class="clear"></div>

    <ul ng-if="relatedEntityType == 'Opinions'">
        <li ng-repeat="result in results">
            <h3><a href="javascript:;" ng-click="getDetail(result)">{{result.parties}}</a></h3>
            <label class="date-label">{{result.date}}</label>
        </li>
    </ul>

    <ul ng-if="relatedEntityType == 'Regulations'">
        <li ng-repeat="result in results">
            <h3><a href="javascript:;" ng-click="getDetail(result)">{{result.name}}</a></h3>
        </li>
    </ul>

    <ul ng-if="relatedEntityType == 'Documents'">
        <li ng-repeat="result in results">
            <h3><a href="javascript:;" ng-click="getDetail(result)">{{result.name}}</a></h3>
            <label class="date-label">{{result.createdDateTime | date:'EEEE, MMMM d, y'}}</label>
        </li>
    </ul>

    <div class="detail-overlay" ng-if="showModal">
        <div class="detail-header">
            <a href="javascript:;" ng-click="addDocument(detail)"><i class="fa fa-link fa-lg"></i>Add to Matter</a>
            <a href="javascript:;" class="right" ng-click="toggleModal()"><i class="fa fa-close"></i></a>

            <div flow-init flow-complete="uploadComplete()"
                 flow-file-added="onFileAdded($file)"
                 flow-file-success="onFileUploadSuccess($message, $file)"
                 flow-file-error="onFileUploadError($message, $file)"
                 flow-name="uploader.flow"
                 flow-file-progress="onFileProgress($file)">

                <div class="document-list-container">
                    <ul>
                        <li ng-repeat="file in $flow.files">
                            <div class="progress-indicator" ng-style="{width:file.percentComplete*100 + '%'}"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail-display" ng-bind-html="detail.trustedHtml" ng-if="relatedEntityType == 'Opinions'"></div>

        <div ng-if="relatedEntityType == 'Regulations' || relatedEntityType == 'Documents'" class="document-view">
            <div ng-if="documentIsPdf(detail)" class="document-view">
                <object data="{{detail.binaryData}}" type="application/pdf" style="width: 100%; height: 100%;"></object>
            </div>

            <div ng-if="documentIsPdf(detail) ==  false && documentIsHtml(detail) == false" class="document-view">
                <iframe ng-src="{{detail.viewUrl}}" width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
            </div>

            <div ng-if="documentIsHtml(detail)" class="scrollable document-view" ng-bind-html="detail.trustedHtml">
            </div>

        </div>
    </div>
</div>

