﻿<div ng-controller="caseSummaryController" ng-init="initialize()" class="details-view">
    <div class="pure-g">

        <div class="pure-u-11-24">
            <h2>Details</h2>
            <label>Matter Name</label>
            <span>{{caseInfo.docketNumber}}</span>

            <label>Description</label>
            <span>{{caseInfo.subjectMatter}}</span>

            <label>Start Date</label>
            <span>{{caseInfo.startDate | date}}</span>

            <label>End Date</label>
            <span>{{caseInfo.closedDate | date}}</span>
        </div>

        <div class="pure-u-11-24">
            <h2>Client</h2>  
            <label>Name</label>  
            <span>{{caseInfo.client.name}}</span>
            <label> Office Phone #</label>
                <span>{{caseInfo.client.officeNumber}}</span>
            
            <h2>Documents
                <a class="right add-button" href="javascript:;" ng-click="showAddDocument()"><i class="fa fa-plus fa-lg"></i><span>Document</span></a>
                <div class="clear"></div>
            </h2>
            <label>There are {{documentSummary.documentCount}} documents for this matter</label>

            <h2>Time
                <a class="right add-button" href="javascript:;" ng-click="showAddTime()"><i class="fa fa-plus fa-lg"></i><span>Time</span></a>
                <div class="clear"></div>
            </h2>

            <label>{{totalHours}} hours have been worked on this matter</label>
            <h2>Notes</h2>
        </div>
    </div>

    <div ng-class="{'fly-in':showFlyIn, 'hidden-right':showFlyIn === false}" class="overlay">
        <div ng-include="flyInTemplate" class="overlay-contents"></div>
    </div>

</div>
