﻿<div ng-controller="caseTimeController" ng-init="initialize()" class="time-view">
    <div>
        <h1>Time</h1>
    </div>
    
    <div class="pure-g">
        <div class="pure-u-4-24">
            <label>Date</label>
            <input type="date" ng-model="time.createdDateTime" />

            <label>Hours</label>
            <input type="number" ng-model="time.hours" />

            <label>Description</label>
            <textarea ng-model="time.description"></textarea>

            <button ng-click="addTime()">Add</button>
        </div>
        <div class="pure-u-18-24">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Hours</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="time in times | orderBy:'createdDateTime'">
                        <td>
                            <a href="javascript:;" ng-click="showDeleteConfirmation(time)"><i class="fa fa-trash-o"></i></a>
                            <div class="confirmation" ng-if="time.showConfirmDelete">
                                <div>
                                    <i class="fa fa-caret-left"></i>
                                    Are you sure you want to remove this time?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="deleteTime(time)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="time.showConfirmDelete = false">No</a>
                                </div>
                                </div>
                            </div>
                        </td>
                        <td>{{time.createdDateTime | date}}</td>
                        <td>{{time.hours}}</td>
                        <td>{{time.description}}</td>
                    </tr>

                    <tr ng-if="times.length === 0">
                        <td colspan="4">You have not added any time yet</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

