﻿<div ng-controller="caseUsersController" ng-init="initialize()" class="user-view">
    <div>
        <h1>Users</h1>
        <a class="right add-button" href="javascript:;" ng-click="toggleShowAddUser()"><i class="fa fa-plus fa-lg"></i><span>User</span></a>
        <div class="clear"></div>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in caseInfo.users">
                    <td>
                        <a href="javascript:;" ng-click="showDeleteConfirmation(user)"><i class="fa fa-trash-o"></i></a>
                        <div class="confirmation" ng-if="user.showConfirmDelete">
                            <div>
                                <i class="fa fa-caret-left"></i>
                                Are you sure you want to delete this user?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="removeUser(user)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="user.showConfirmDelete = false">No</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{user.userName}}</td>
                    <td>{{user.emailAddress}}</td>
                </tr>
                <tr ng-if="caseInfo.users.length == 0">
                    <td colspan="3">
                        No users have been added to this matter
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-class="{'fly-in':showFlyIn, 'hidden-right':showFlyIn === false}" class="overlay">
        <div ng-include="flyInTemplate" class="overlay-contents"></div>
    </div>

</div>