﻿<div>
    <h1>
        Documents
        <a class="right add-button" href="javascript:;" ng-click="showAddDocuments()"><i class="fa fa-plus fa-lg"></i><span>Document</span></a>
        <div class="clear"></div>
    </h1>
</div>