<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CryptoKey" value="[add a unique crypto key]"/>
    <add key="InitialVector" value="[add a unique initial vector]"/>
    <add key="PublicKey" value="[add a unique public key here]" />
    <add key="PrivateKey" value="[add a unique privat key here]"></add>
  </appSettings>
</configuration>