﻿<html>
    <head>
        <style>
            body {
                background-color: #fff;
                margin: 0px;
                padding: 0px;
            }

            .header {
                margin: 0px;
                padding-left: 7px;
                padding-top: 7px;
                height: 65px;
            }

            .body {
                padding: 25px;
            }

            div {
                width: 100%;
            }

            img {
                width: 200px;
                padding: 15px;
                float: left;
            }

            a{
                font-size:larger;
            }
        </style>
    </head>
<body>

    <div>
        <div class="header">
            <a href="https://app.contextum-ml.com"><img src="https://s3.amazonaws.com/n-dexed.resources/contextum_logo.png" alt="Contextum"></a>
        </div>

        <div class="body">
            <p>
                Your refined search results are ready for viewing.

                We found <h1>{{ResultCount}}</h1> additional results  for your search (<b>{{SearchName}} {{DocketNumber}}</b>) that you might be interested in.  
                
            </p>

            <a href="{{AppUrl}}">Please log in to view your results.</a>
        </div>
    </div>
</body>
</html>
