﻿<style>
    body {
        background-color: #fff;
        margin:0px;
        padding:0px;
    }

    .header
    {
        margin:0px;
        padding-left:7px;
        padding-top:7px;
        background-color:#ee283b;
        height:65px;
    }

    .body
    {
        padding:25px;
    }
    div{
        width:100%;
    }
</style>
<div>
    <div class="header">
        <a href="NDexed.mobi"><img src="https://s3.amazonaws.com/NDexed.resources/logo.png" alt="NDexed"></a>
    </div>
    
    <div class="body">
        <a href="{{setPasswordUrl}}?token={{securityToken}}">Click Here to Set Your Password and Log in</a>
    </div>
    <div class="body">
        <p>This email was sent because you requested to have your password reset.</p>
        <p>If you did not request this email, <a href="mailto:support@N-Dexed.com">please let us know by clicking here</a> or send us an email at support@N-Dexed.com</p>
    </div>
</div>