﻿<div ng-init="initialize()" ng-controller="reverseImageSearchController" class="document-upload-view">
    <a href="javascript:;" ng-click="toggleImageView()">Close</a>
    <h2>Search by Image</h2>

    <div flow-init flow-complete="uploadComplete()"
         flow-file-added="onFileAdded($file)"
         flow-file-success="onFileUploadSuccess($message, $file)"
         flow-file-error="onFileUploadError($message, $file)"
         flow-name="uploader.flow"
         flow-file-progress="onFileProgress($file)">

        <button ng-if="$flow.files.length === 0" flow-btn>Select Image</button>



        <div class="document-list-container">
            <ul>
                <li ng-repeat="file in $flow.files">
                    <label>{{file.name}}</label>
                </li>
            </ul>

            <button ng-click="upload()" ng-if="$flow.files.length > 0">Search</button>
        </div>

        <div class="resultsView" ng-if="fullImageResults">
            <h2>Results with Similar Images</h2>
            <span ng-if="totalResults === 0">No matches were found for this image</span>
            <ul ng-if="fullImageResults.length> 0">
                <h2>Full Image Matches</h2>
                <li ng-repeat="result in fullImageResults" class="image-search-result">
                    <img src="{{result.data}}" height="50" width="50"  class="left" ng-if="result"/>
                    <div class="similar-result">

                        <a ng-href="{{result.data}}" target="_blank">{{result.data}}</a>

                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul ng-if="partialImageResults.length> 0">
                <h2>Partial Image Matches</h2>
                <li ng-repeat="result in partialImageResults" class="image-search-result">
                    <img src="{{result.data}}" height="50" width="50" class="left"  ng-if="result"/>
                    <div class="similar-result">

                        <a ng-href="{{result.data}}" target="_blank">{{result.data}}</a>

                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul ng-if="pageResults.length> 0">
                <h2>Page Results</h2>
                <li ng-repeat="result in pageResults" class="image-search-result">
                    <div class="thumbnail-container">
                        <div class="thumbnail" ng-bind-html="result.trustedHtml">
                            
                        </div>
                    </div>
                    <div class="similar-result">

                        <a ng-href="{{result.data}}" target="_blank">{{result.data}}</a>

                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
