﻿<div class="search-view search-details">
    <div ng-if="cpcs.length == 0">
        Please perform a search to see related CPC information
    </div>
    <div class="pure-g" ng-if="cpcs.length > 0">
        <div class="pure-u-11-24 full-width">
            <div class="container details-view padding-15">
                <div>
                    <div class="left">
                        <select ng-options="option.name for option in cpcFieldOptions"
                                ng-model="cpcField"
                                ng-change="cpcRanking(cpcField.field)"></select>
                    </div>
                    <div class="right">
                        <button class="tiny-button" ng-click="searchByCpc()">Search</button>
                    </div>
                    <table>
                        <tbody>
                            <tr ng-repeat="cpc in cpcs">
                                <td>
                                    <select ng-model="cpc.searchStatus">
                                        <option selected>Ignore</option>
                                        <option>Include</option>
                                    </select>
                                </td>
                                <td>{{cpc.cpc}}</td>
                                <td>{{cpc.title}}</td>
                                <td class="no-wrap" ng-class="getClaimScoreClass(cpc.score)">{{cpc.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
