﻿<div>
    <select ng-options="option.name for option in cpcFieldOptions"
            ng-model="cpcField"
            ng-change="cpcRanking(cpcField.field)"></select>
    <table>
        <tbody>
            <tr ng-repeat="cpc in cpcItems">
                <td>
                    <select>
                        <option selected>Ignore</option>
                        <option>Include</option>
                        <option>Exclude</option>
                    </select>
                </td>
                <td>{{cpc.text}}</td>
                <td>{{cpc.title}}</td>
                <td>{{cpc.percent}} %</td>
            </tr>
        </tbody>
    </table>
</div>