﻿<div class="search-view">
    <a href="javascript:;" ng-click="toggleCrossReferencedResults()">Close</a>
    <h1>Common Results</h1>
    <div>
        <ul class="padding-5" ng-if="crossReferencedResults.length > 0">
            <li ng-repeat="result in crossReferencedResults">
                <div ng-include="resultTemplate" class="overlay-contents"></div>
            </li>
        </ul>
        <h2 ng-if="crossReferencedResults.length == 0">
            No results were found in commmon for the selected searches
        </h2>
    </div>
</div>
