﻿<div class="search-view" ng-if="selectedResult">
    <a href="javascript:;" ng-click="toggleDescriptionView()">Close</a>

    <h1 class="margin-0 no-bottom-border">
        <a href="javascript:void(null);" target="_blank" ng-href="{{selectedResult.link}}">
            {{getDisplayNumber(selectedResult)}}
        </a>
    </h1>
    <div class="title padding-0-15-15">{{selectedResult.title}}</div>

    <div>
        <div class="full-width">
            <div class="container details-view padding-15 small-font">

                <h3>Abstract</h3>
                <p ng-bind-html="selectedResult.abstract | sanitize"></p>

                <h3>Description</h3>
                <p ng-bind-html="selectedResult.description | sanitize"></p>
            </div>
        </div>
    </div>


    <div class="padding-0-15-15 small-font">

        <div class="margin-50-0">

            <h2 class="inline padding-15-0 underlined">
                CPC ({{selectedResult.cpc.length}})
            </h2>
            <div class="padding-0">
                <div class="cpc-item padding-15" ng-repeat="cpc in selectedResult.cpc">
                    {{cpc.subGroup}}
                </div>
            </div>
        </div>


        <div class="margin-50-0">

            <h2 class="inline padding-15-0 underlined">
                Claims ({{selectedResult.claims.length}})
            </h2>
            <div class="padding-0 margin-50-0">
               
                <div class="claims-item claims-item-show no-border" ng-repeat="claim in selectedResult.claims">
              
                    <span ng-if="showScores(selectedResult)" ng-class="getClaimScoreClass(claim.claimRank)">{{claim.claimRank | number:3}}</span>
                    <p ng-class="{'description': claim.showClaim}">
                        {{claim.sequence}}: <span ng-bind-html="claim.claim | sanitize"></span>
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <div class="margin-50-0">

            <h2 class="inline padding-15-0 underlined">
                Citations ({{selectedResult.citations.length}})
            </h2>
            <div class="padding-0">
                <div class="citations-item  no-border" ng-repeat="citation in selectedResult.citations">
                    <div>
                        <h4>
                            <a target="_blank" ng-href="http://pdfpiw.uspto.gov/.piw?PageNum=0&docid={{citation.citedPatentNumber}}">{{citation.citedPatentNumber}}</a>
                            <span ng-if="citation.category != 'NULL'">{{citation.category}}</span>
                        </h4>
                        
                        <h5>{{citation.title || 'Patent Information Not Found'}}</h5>
                        <p ng-if="citation.abstract">{{citation.abstract | limitTo:200}}</p>
                        <div class="citation-info" ng-if="citation.showCitation">
                            <ul class="section-menu right">
                                <li class="score-item main-score" ng-class="getClaimScoreClass(citation.similarityScore)">{{citation.similarityScore | number:3}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
