﻿<div class="similar-result">

    <div class="result-header padding-0  margin-0">
        <div class="width-25 left">
            <h1 class="left margin-0">
                <a href="javascript:void(null);" target="_blank" ng-href="{{result.link}}">
                    {{getDisplayNumber(result)}}
                </a>
            </h1>
        </div>
        <div class="width-65 right padding-0 margin-0">
            <ul class="right score-list">

                <li class="left" ng-if="!showSave"><i class="fa fa-remove red save-icon" ng-click="removeResult(result);"></i></li>
                <li class="left" ng-if="showSave"><i class="fa fa-save save-icon" ng-click="saveResult(result);"></i></li>

                <li class="score-item main-score" ng-if="showScores(result)" ng-class="getClaimScoreClass(result.overallRank)">
                    <span>{{result.overallRank | number:3}}</span>
                </li>
                <li class="score-item" ng-if="showScores(result)" ng-class="getClaimScoreClass(result.descriptionRank)">
                    <span>{{result.descriptionRank | number:3}}</span>
                </li>

                <li class="score-item" ng-if="showScores(result)" ng-class="getClaimScoreClass(result.maxClaimScore)">
                    <span>{{result.maxClaimScore | number:3}}</span>
                </li>

                <li class="score-item cpc-score" ng-if="result.showCpcStats">
                    <span>{{result.cpcsMatched}} / {{result.cpcsSearched}}</span>
                </li>
                <li class="left" ng-if="showSave"><a class="margin-left-15" href="javascript:void(null);" ng-click="showResultDescription(result)">Details</a></li>

            </ul>
        </div>
    </div>


    <div class="clear"></div>
    <div class="title">{{result.title}}</div>

    <div ng-bind-html="result.highlight | sanitize" class="highlight small-font"></div>

    <ul class="main-menu">
        <li class="margin-0 padding-0-15-15 left">Claims - {{result.claims.length}}</li>
        <li class="margin-0 padding-0-15-15 left">Cpc - {{result.cpc.length}}</li>
        <li class="margin-0 padding-0-15-15 left">Citations - {{result.citations.length}}</li>
    </ul>
    <div class="padding-0-15-15 small-font">


        <!--
        <div class="claims-list" ng-if="result.cpc.length > 0">

            <h2 class="margin-claims" ng-click="toggleShowCpc(result)">
                <i class="fa fa-fw fa-chevron-down" ng-show="result.showCpc"></i>
                <i class="fa fa-fw fa-chevron-right" ng-show="!result.showCpc"></i>
                CPC ({{result.cpc.length}})
            </h2>
            <div class="padding-0" ng-show="result.showCpc">
                <div class="cpc-item padding-15" ng-repeat="cpc in result.cpc">
                    {{cpc.subGroup}}
                </div>
            </div>
        </div>
        <div class="claims-list no-top-border" ng-if="result.claims.length > 0">

            <h2 class="margin-claims" ng-click="toggleShowClaims(result)">
                <i class="fa fa-fw fa-chevron-down" ng-show="result.showClaims"></i>
                <i class="fa fa-fw fa-chevron-right" ng-show="!result.showClaims"></i>
                Claims ({{result.claims.length}})
            </h2>
            <div class="padding-0" ng-show="result.showClaims">
                <div class="claims-item" ng-class="{'claims-item-show': claim.showClaim}" ng-click="toggleShowClaim(claim)" ng-repeat="claim in result.claims">
                    <span ng-if="showScores(result)" ng-class="getClaimScoreClass(claim.claimRank)">{{claim.claimRank | number:3}}</span>
                    <span ng-class="{'description': claim.showClaim}">
                        {{claim.sequence}}: <span ng-bind-html="claim.claim | sanitize"></span>
                    </span>
                    <br />
                </div>
            </div>
        </div>

        
        <div class="claims-list no-top-border" ng-if="result.citations.length > 0">

            <h2 class="margin-claims" ng-click="toggleShowCitations(result)">
                Citations ({{result.citations.length}})
            </h2>
            
            <div class="padding-0" ng-show="result.showCitations">
                <div class="citations-item" ng-class="{'citations-item-show': citation.showCitation}" ng-click="toggleShowCitation(citation)" ng-repeat="citation in result.citations">
                    <div class="section-menu">
                        <ul>
                            <li><span ng-class="{'citation-description': citation.showCitation}"><a target="_blank" ng-href="http://pdfpiw.uspto.gov/.piw?PageNum=0&docid={{citation.citedPatentNumber}}">{{citation.citedPatentNumber}}</a></span></li>
                            <li ng-show="citation.category =='cited by examiner'"><i class="fa fa-star margin-0-15 gold"></i>Cited by Examiner</li>
                            <li ng-show="citation.category =='cited by applicant'"><i class="fa fa-star-o margin-0-15"></i>Cited by Applicant</li>
                            <li ng-show="citation.category =='cited by other'"><i class="fa fa-star-half margin-0-15 silver"></i>Cited by Other</li>
                        </ul>
                        <span ng-show="citation.loading && citation.showCitation">
                            <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                        </span>
                        <div class="citation-info" ng-if="citation.showCitation">
                            <ul class="section-menu right">
                                <li class="score-item main-score" ng-class="getClaimScoreClass(citation.similarityScore)">{{citation.similarityScore | number:3}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                -->
        </div>
            
    </div>

</div>