﻿<div class="padding-0 margin-top-75">
    <div class="full-width padding-0">
        <div class="left width-80 padding-0">
            <h1>{{result.patentNumber || result.applicationNumber}}</h1>
            <h2>{{result.title}}</h2>
        </div>

        <div class="right">
            <h1 class="right white" ng-class="getClaimScoreClass(result.overallRank)">{{result.overallRank | number:3}}</h1>
        </div>

        <div class="clear"></div>
    </div>

    <p ng-bind-html="result.highlight | sanitize "></p>

</div>