﻿<div class="search-view search-details">
    <div ng-if="cpcs.length == 0">
        Please perform a search to see related terms
    </div>

    <div class="pure-g" ng-if="terms.length > 0">
        <div class="pure-u-11-24 full-width">
            <div class="container details-view padding-15">

                <div class="right">
                    <button class="tiny-button" ng-click="searchByTerms()">Search</button>
                </div>
                <table>
                    <tbody>
                        <tr ng-repeat="term in terms">
                            <td>
                                <select ng-model="term.searchStatus">
                                    <option selected>Ignore</option>
                                    <option>Include</option>
                                    <option>Exclude</option>
                                </select>
                            </td>
                            <td>{{term.term}}</td>
                            <td ng-class="getClaimScoreClass(term.score)">{{term.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
