﻿body, html {
    height:100%;
}

.main-menu{
    height: 100%;
    border-right: solid 1px #6DA6B3;
    bottom: 0;
    width: 75px;
    position: fixed;
}

.main-menu h1{
    padding: 0 0 0 25px;
    font-family:Orbitron;
}
    .main-menu ul {
        list-style: none;
    }

.main-menu ul li{
    padding: 15px 15px 15px 0;
    font-size: x-large;
    color: #B9D4DA;
}

.main-menu ul li .selected{
    color: #6DA6B3;
    border-right: solid 3px #6DA6B3;
        padding: 15px 11px 15px 0;
}

.view{
    left:75px;
    position:relative;
}