﻿<div>
    <label>Name</label>
    <input type="text" ng-model="details.name" autofocus />

    <label>Office Phone #</label>
    <input type="text" ng-model="details.officeNumber" />

    <label>Office Phone #</label>
    <input type="text" ng-model="details.mobileNumber" />

    <fieldset title="Mailing Address">
        <legend>Mailing Address</legend>
        <label>Line 1</label>
        <input type="text" ng-model="details.mailingAddress.line1" />

        <label>City</label>
        <input type="text" ng-model="details.mailingAddress.city" />

        <label>State</label>
        <input type="text" ng-model="details.mailingAddress.state" />

        <label>Zip</label>
        <input type="text" ng-model="details.mailingAddress.zip" />
    </fieldset>
   
    <fieldset title="Billing Address">
        <legend>Billing Address</legend>
        <label>Line 1</label>
        <input type="text" ng-model="details.billingAddress.line1" />

        <label>City</label>
        <input type="text" ng-model="details.billingAddress.city" />

        <label>State</label>
        <input type="text" ng-model="details.billingAddress.state" />

        <label>Zip</label>
        <input type="text" ng-model="details.billingAddress.zip" />
    </fieldset>

</div>