﻿<div ng-init="initialize()" class="view-port">
    <h1 class="left">Clients</h1>
    <a class="left add-button" href="javascript:;" ng-click="toggleAddClient()"><i class="fa fa-plus fa-lg"></i><span>Client</span></a>
    <div class="search-component right">
        <input type="text" ng-model="filterCriteria.name" ng-focus="focusClientFilter()" ng-blur="blurClientFilter()" ng-keypress="handleKeyPress($event)" placeholder="Filter" />
        <i class="fa fa-search right"></i>
    </div>
    <div class="clear"></div>

    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Office #</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in filteredClients">
                    <td>
                        <a href="javascript:;" ng-click="showDeleteConfirmation(client)"><i class="fa fa-trash-o"></i></a>
                        <div class="confirmation" ng-if="client.showConfirmDelete">
                            <div>
                                <i class="fa fa-caret-left"></i>
                                Are you sure you want to delete this client?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="deleteClient(client)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="client.showConfirmDelete = false">No</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="#/clients/{{client.id}}/profile"><span>{{client.name}}</span></a></td>
                    <td>{{client.officeNumber}}</td>
                    <td>{{client.mailingAddress.line1}} {{client.mailingAddress.city}} {{client.mailingAddress.state}}</td>
                </tr>
                <tr ng-if="clients.length === 0">
                    <td colspan="6">You do not have any clients.  <a href="javascript:;" ng-click="toggleAddClient()">Click Here to Create a New Client</a>
                    </td>
                </tr>
                <tr ng-if="clients.length > 0 && filteredClients.length === 0">
                    <td colspan="6">No clients match your filter criteria
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>         
                        
<div ng-class="{'fly-in':showAddClient, 'hidden-right':showAddClient === false}" class="overlay">
    <div ng-include="'html/clients/new.html'" class="overlay-contents"></div>
</div>
