﻿<div class="data-form" ng-controller="newClientController" ng-init="initialize()">
    <h1>Add a New Client</h1>
    <label>Name</label>
    <input  type="text" ng-model="client.name" autofocus />
                             
    <label>Office Phone #</label>
    <input type="text" ng-model="client.officeNumber" />

    <label>Mailing Address Line 1</label>
    <input type="text" ng-model="client.mailingAddress.line1" />

    <label>City</label>
    <input type="text" ng-model="client.mailingAddress.city" />

    <label>State</label>
    <input type="text" ng-model="client.mailingAddress.state" />

    <label>Zip</label>
    <input type="text" ng-model="client.mailingAddress.zip" />

    <div class="button-container">
        <button ng-click="createClient()">Add</button>
        <a href="javascript:;" ng-click="toggleAddClient()">Cancel</a>
    </div>
</div>
