﻿<div ng-init="initialize()" class="details-view profile">
    <div class="pure-g">
        <div class="pure-u-11-24">
            <h2>
                Client Profile

                <a class="right add-button" href="javascript:;" ng-click="toggleEdit()" ng-if="!editing"><i class="fa fa-edit fa-lg"></i><span>Edit</span></a>
                <a class="right" href="javascript:;" ng-click="toggleEdit()" ng-if="editing"><span class="margin-10">Cancel</span></a>
                <a class="right add-button" href="javascript:;" ng-click="save()" ng-if="editing"><i class="fa fa-save fa-lg"></i><span>Save</span></a>

                <div class="clear"></div>
            </h2>
            <div ng-include="templateUrl"></div>
        </div>

    <div ng-class="{'fly-in':showFlyIn, 'hidden-right':showFlyIn === false}" class="overlay">
        <div ng-include="flyInTemplate" class="overlay-contents"></div>
    </div>

</div>
