﻿<div>
    Client Details

    <label>Name</label>
    <span>{{details.name || 'not set'}}</span>

    <label>Office Number</label>
    <span>{{details.officeNumber || 'not set'}}</span>

    <label>Mobil Number</label>
    <span>{{details.mobileNumber || 'not set'}}</span>

    <label>Mailing Address</label>
    <span ng-if="!details.mailingAddress">not set</span>
    <span>{{details.mailingAddress.line1}}</span><br />
    <span>{{details.mailingAddress.line2}}</span><br />
    <span>{{details.mailingAddress.city}} {{details.mailingAddress.state}} {{details.mailingAddress.zip}}</span>

    <label>Billing Address</label>
    <span ng-if="!details.billingAddress">not set</span>
    <span>{{details.billingAddress.line1}}</span><br />
    <span>{{details.billingAddress.line2}}</span><br />
    <span>{{details.billingAddress.city}} {{details.billingAddress.state}} {{details.billingAddress.zip}}</span>

</div>
