﻿<div ng-init="initialize()" class="details-view">
    <div class="section-menu">
        <ul>
            <li ng-repeat="section in sections" ng-click="selectSection(section)" ng-class="{'selected':section.selected}">
                <i class="fa fa-lg" ng-class="'fa-{{section.icon}}'"></i>
            </li>
        </ul>
    </div>
    <div>
        <h1 class="underlined-header" ng-if="caseInfo">Matter {{caseInfo.docketNumber}}</h1>
    </div>
    <div ng-include="detailsTemplate">
    </div>
</div>
