﻿<div ng-init="initialize()" class="view-port">
    <h1 class="left">Matters</h1>
    <a class="left add-button" href="javascript:;" ng-click="toggleAddCase()"><i class="fa fa-plus fa-lg"></i><span>Matter</span></a>
    <div class="search-component right">
        <input type="text" ng-model="filterCriteria.name" ng-focus="focusCaseFilter()" ng-blur="blurCaseFilter()" ng-keypress="handleKeyPress($event)" placeholder="Filter"/>
        <i class="fa fa-search right"></i>
    </div>
    <div class="clear"></div>

    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Matter Name</th>   
                    <th>Client</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody ng-repeat="case in filteredCases">
                <tr>
                    <td>
                        <a href="javascript:;" ng-click="showDeleteConfirmation(case)"><i class="fa fa-trash-o"></i></a>
                        <div class="confirmation" ng-if="case.showConfirmDelete">
                            <div>
                                <i class="fa fa-caret-left"></i>
                                Are you sure you want to archive this matter?
                                <div class="button-container">
                                    <a href="javascript:;" ng-click="deleteCase(case)" class="default">Yes</a>
                                    <a href="javascript:;" ng-click="case.showConfirmDelete = false">No</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="#/cases/{{case.id}}/details"><span>{{case.docketNumber}}</span></a></td>  
                    <td>{{case.client.name}}</td>
                    <td>{{case.subjectMatter | limitTo:100}}</td>
                </tr>
            </tbody>
            <tbody ng-if="cases.length === 0">
                <tr>
                    <td colspan="6">You do not have any matters.  <a href="javascript:;" ng-click="toggleAddCase()">Click Here to Create a New Matter</a>
                    </td>
                </tr>
                
            </tbody>
            <tbody ng-if="cases.length > 0 && filteredCases.length === 0"
                <tr>
                    <td colspan="7">No matter match your filter criteria
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-class="{'fly-in':showAddCase, 'hidden-right':showAddCase === false}" class="overlay">
    <div ng-include="'html/cases/new.html'" class="overlay-contents"></div>
</div>
