﻿<div class="data-form" ng-controller="newCaseController" ng-init="initialize()">
    <h1>Add a New Matter</h1>  
    <label>Client</label>
    <select ng-model="caseInfo.client" ng-options="client as client.name for client in clients"></select>

    <label>Matter Name</label>
    <input name="docketNumberInput" id="docketNumberInput" type="text" ng-model="caseInfo.docketNumber" autofocus />

    <label>Description</label>
    <textarea ng-model="caseInfo.subjectMatter"></textarea>

    <label>Start Date</label>
    <input type="date" ng-model="caseInfo.startDate" />

    <label>End Date</label>
    <input type="date" ng-model="caseInfo.closedDate" />

    <div class="button-container">
        <button ng-click="createCase()">Add</button>
        <a href="javascript:;" ng-click="toggleAddCase()">Cancel</a>
    </div>
</div>
